.upcoming-events-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  overflow-y: scroll;
  /* background-color: black; */
}


.admin-create-event {
  background-color: var(--sbcc-red);
  border: 1px solid var(--sbcc-red);
  color: white;
  font-size: 20px;
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 100px;
  /* margin-top: 35px; */
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.453);
  cursor: pointer;
  margin: 20px;
}

.admin-create-event:hover {
  background-color: #bb2a3d;
}

.admin-create-event:active {
  background-color: var(--sbcc-red);
  transform: translateX(-1px) translateY(1px);
}

.future-events-text {
  width: 90%;
  font-size: max(min(4vw, 32px), 26px);
  margin: 0;
  font-weight: bold;
}

.next-event-text {
  font-size: max(min(4vw, 32px), 26px);
  margin: 0;
  font-weight: bold;
}

.next-event-container {
  width: max(min(90%, 900px), 400px);
  height: 550px;
  background-color: var(--sbcc-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.future-events-scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--sbcc-red);

  width: 90%;
  column-gap: 20px;
  padding: 13px;
  border-radius: 20px;
  overflow-x: scroll;
  margin-bottom: 50px;
}

.future-events-scroll>.event-container {
  height: 95%;
  width: 855px;
}

@media only screen and (max-width: 960px) {
  .future-events-scroll>.event-container {
    width: 95%;
    height: 522.5px;
    min-width: 385px;
  }
}