.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}


.scroll-panel {
  width: 50%;
  /* height: 100; */
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.relation {
  background-color: white;
  width: 100%;
  /* margin-top: 40px; */
  height: 60px;
  text-align: center;
  color: var(--sbcc-red);
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 50px;
}

.scroll-item-container {
  width: 100%;
  height: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.scroll-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  background-color: var(--sbcc-red);
  border-radius: 15px;
}

.scroll-item-text {
  font-weight: 1000;
  color: white;
  text-align: center;
  margin: 20px;
  text-wrap: pretty;
}

.background-image>img {
  max-width: 50vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  display: block;

}

.arrow {
  fill: var(--sbcc-red);
  stroke-width: 2px;
}