.officer-popup-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: inherit;
  height: max(100vh, 100%);
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.officer-modal {
  background-color: white;
  border-radius: 20px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
  height: 75vh;
  width: 50vw;
  max-height: 900px;
  max-width: 650px;
  min-width: 350px;
  min-height: 725px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.195);
  justify-content: center;
}


.modal-header-text {
  font-size: x-large;
  font-weight: bolder;
  color: var(--sbcc-red);
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.error-container {
  padding: 3px;
  background-color: rgb(245, 142, 129);
  border: 2px solid #f00;
  border-radius: 10px;
  font-size: 1em;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.image-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-content: center;
}

.image-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* max-width: 50%; */
}

@media only screen and (max-width: 950px) {
  .image-upload {
    flex-direction: column;
  }

  .image-upload>button {
    margin-bottom: 5px;
  }
}



.image-preview {
  margin: 8px;
  margin-top: 0;
  max-width: 225px;
  max-height: 175px;
  border-radius: 10px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
}

.image-upload-input {
  width: fit-content;
  margin-right: 15px;
  /* max-width: 50px; */
  /* margin-bottom: 10px; */
}

.image-upload-input>input {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.image-name {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.officer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;

}

.officer-name>p {
  font-weight: bolder;
  font-size: 22px;
  margin: 0;
}

.name-input {
  width: 100%;
  font-size: 15px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.75);
  max-width: 250px;
  height: 27px;
  border-radius: 100px;
}


.officer-tenure {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.tenure {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.date-selecters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-container>p {
  margin: 0;
}


.officer-statement {
  width: 90%;
  height: fit-content;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.officer-statement-text {
  font-size: 22px;
  margin: 0;
  font-weight: bolder;
}

.officer-statement-input {
  width: 100%;
  height: 75px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-width: 500px;
  resize: none;
  margin: 0;
}

@media only screen and (max-width: 950px) {
  .officer-statement-input {
    height: 40px;
    margin: -2px;
  }
}

.officer-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.officer-type-container>label {
  font-size: 22px;
  margin: 0;
}

.officer-type-dropdown {
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0); */
  width: 200px;
  height: 40px;
  border-radius: 10px !important;
  cursor: pointer !important;
}

.Dropdown-menu {
  max-height: 150px;
  border-radius: 5px;
}

.buttons-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.modal-button {
  background-color: var(--sbcc-red);
  color: white;
  border: 1px solid var(--sbcc-red);
  padding: 2px 15px 2px 15px;
  font-size: 15px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-button:hover {
  background-color: #bb2a3d;
}

.modal-button:active {
  background-color: var(--sbcc-red);
  transform: translateX(-1px) translateY(1px);
}